<!DOCTYPE html>
<html>
    <head>
        <title>Runabout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../css/ingame.css"> 
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Runabout</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/scores">Scores</a></li>
                            <li><a href="/help">Help</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">Choose Another Game</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

 <div id="content-area" class="container">
    <h3>{{message}}</h3>
    <h1 id="challenge-name">{{challenge.name}}</h1> 
    <div class="info-text">
        <p>{{challenge.question.text}}</p> 
	{% if challenge.question.url != "" %}
	<p><img style="height:auto;width:360px;" src="{{challenge.question.url}}"/></p>
	{% endif %}
    </div>
    <div id="submission-box">
        <form class="form-horizontal" role="form" method="post">
	      <input type="hidden" value="{{challenge.name}}" name="puzzleId"/>
	      <input type="hidden" value="{{number}}" name="number"/>
              <div class="form-group">
                <div class="col-xs-12 input-group input-group-lg fancy-entry">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                  <input type="text" class="form-control text-answer" placeholder="Enter your answer" name="message">
                </div>   
                <div class="col-xs-12 disabled input-group input-group-lg fancy-entry">
                    <span class="input-group-addon" style="opacity: 0.7;"><span class="glyphicon glyphicon-camera"></span></span>
                    <input type="button" class="btn btn-default btn-lg flat-left" name="upload-pic" value="Upload Photo" disabled>
                </div>       
                <div class="col-xs-12 disabled input-group input-group-lg fancy-entry">
                    <span class="input-group-addon" style="opacity: 0.7;"><span class="glyphicon glyphicon-map-marker"></span></span>
                    <input type="button" class="btn btn-default btn-lg flat-left" name="upload-pic" value="Attach Current Location" disabled>
                </div>                 
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <button type="submit" id="send-question" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
              <input type="hidden" name="type" value="text"/>
            </form>

    </div>
</div>
    </body> 
</html> 

