<!DOCTYPE html>
<html>
    <head>
        <title>Puzzler</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/ingame.css"> 
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Puzzler</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                   <li> <a href="#">Organizer Login</a> </li> 
                </ul>
            </div>
        </nav>

 <div id="content-area" class="container">
    <h1 id="leaderboard-header">Leaderboard</h1> 
       <table class="table">
        <tr>
            <th id="team-id">Team</th>
            <th id="puzzles-completed">Puzzles Completed</th>
            <th id="total-score">Total Score</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.getPuzzlesCompleted()}}</td>
                <td>{{user.getScore()}}</td> 
            </tr>
        {% endfor %}

        </table>
</div>
    </body> 
</html> 


