    <!DOCTYPE html>
<html>
    <head>
        <title>Runabout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
             <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

        <style>

        </style>
    </head>
    <body>
    	<h1>Submission Approval</h1>
    	<h2>New submissions</h2>
    	<!-- unacted upon submissions -->
    	<table class="table table-striped table-bordered">
    		<tr>
    			<th>Team</th>
    			<th>Question/Puzzle</th>
                <th>Answer</th>
    			<th>Approval</th>
    		</tr>
    		<tr>
            {% for answer in answers %}
    			<td>{answer.owner.name}</td>
    			<td>{game.minigames[answer.id].name</td>
                <td><img src="{answer.data}" /></td>
    			<td>
    				<form class="form-inline" role="form">
    					<label><input type="radio" name="check-submission" value="correct">  Correct  </label>
    					<label><input type="radio" name="check-submission" value="incorrect">  Incorrect  </label>
    					<input type="submit" value="Submit">
    				</form>
    			</td>
            {% endfor %}
    		</tr>
    	</table>
    	<br />
    	<h2>Marked Submissions</h2>
    	<p>In case we need to fix a grading error</p>
    	<!-- these have already been marked as correct or incorrect but we should be able to change in case of error -->
    	<table class="table table-striped table-bordered">
    		<tr>
    			<th>Team</th>
    			<th>Question/Puzzle</th>
                <th>Answer</th>
    			<th>Approval</th>
    		</tr>
    		<tr>
            {% for answer in checkedAnswers %}
    			<td>{answer.owner.name}</td>
    			<td>{game.minigames[answer.id].name</td>
                <td><img src="{answer.data}" /></td>
    			<td>
    				<form class="form-inline" role="form">
    					<label><input type="radio" name="check-submission" value="correct">  Correct  </label>
    					<label><input type="radio" name="check-submission" value="incorrect">  Incorrect  </label>
    					<input type="submit" value="Submit">
    				</form>
    			</td>
            {% endfor %}
    		</tr>
    	</table>
    </body> 
</html> 